.form__title {
  margin-bottom: 0.5em;
}

.form__content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.form__group {
  display: flex;
  flex-direction: column;
}
.form__label{
  font-weight: 600;
  font-size: small;
}
.form__input{
  background-color: #eef1ff;
  border: 1px solid #ccc;
  padding: 0.5em .75em ;
  border-radius: 4px;
}

.submit{
  background-color: rgb(80, 80, 175);
  border: 1px solid rgb(80, 80, 175);
  outline: 1px solid #fff;
  outline-offset: -3px;
  color: #fff;
  font-weight: 400;
  padding: .25em 1.25em;
}

.form__selector {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.form__select {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 1rem;
  color: #333;
  transition: border-color 0.2s ease, background-color 0.2s ease;
}

.form__select:focus {
  border-color: #627cff;
  outline: none;
  background-color: #f0f8ff;
}