.cards__container {
  max-width: 1024px;
  margin: 0 auto;
  
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  width: 100%;
}

.pagination {
  max-width: 1024px;
  margin: 0 auto;
}
