.card {
  border: 1px solid #ccc;
  background: linear-gradient(135deg, #a18cd14a, #fbc2eb3d);
  padding: 1.25em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  box-shadow: 0px 3px 5px #000000;
  transition: scale;
  transition: scale 0.4s ease-in-out;
  &:hover {
    scale: 1.05;
  }
}
.card__header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  background: linear-gradient(30deg, #bea5b1d2, #ca96c2);
  color: #fff;
  padding: 1em;
  border-radius: 8px 8px 0 0;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.card__name {
  padding-bottom: 0.25em;
  padding-left: 0.75em;
}
.card__img {
  padding-bottom: 0.25em;
}

.card__btns {
  border-top: 1px solid #ccc;
  padding-top: 0.5em;
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
}

.card__info {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: small;
  justify-content: center;
}
.card__label {
  display: block;
  text-transform: uppercase;
  color: #1b1a1a;
  font-size: medium;
}
.card__data {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.icon--mail {
  font-size: 1.4rem;
  color: #42a5f5;
  
}
.icon--gift {
  font-size: 1.4rem;
  color: #ff4101;
}

.btn {
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 18px;
  padding: 0.75em;
}

.btn--edit {
  background-color: #ff6262;
  border: 1px solid #ccc;
  transition: background-color 0.2s ease, border-color 0.2s ease;
  &:hover {
    background-color: #ff2a2a;
    border: 1px solid #cfb7b7;
  }
}
.btn--erase {
  background-color: #627cff;
  color: #ffffff;
  transition: background-color 0.2s ease, border-color 0.2s ease;
  &:hover {
    background-color: #3556ff;
    color: #ccecfb;
  }
}

.form__error {
  color: #ff2a2a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: smaller;
}